# Configuration file

~CONFIG_VERSION: 0.1.0

world-1361638354 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false

    # Hide and unhide ingredients by clicking them in the list.
    B:editEnabled=false
    S:filterText=

    # Show the list of ingredients next to open GUIs.
    B:overlayEnabled=true
}


world-1687131156 {
    # Show the list of bookmarks next to open GUIs.
    B:bookmarkOverlayEnabled=true

    # Give items instead of showing the recipe.
    B:cheatItemsEnabled=false

    # Hide and unhide ingredients by clicking them in the list.
    B:editEnabled=false
    S:filterText=

    # Show the list of ingredients next to open GUIs.
    B:overlayEnabled=true
}


world-169999446 {
    # Show the list of bookmarks next to open GUIs.
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false

    # Hide and unhide ingredients by clicking them in the list.
    B:editEnabled=false
    S:filterText=airti

    # Show the list of ingredients next to open GUIs.
    B:overlayEnabled=true
}


world-345061326 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-840031183 {
    B:bookmarkOverlayEnabled=false
    B:cheatItemsEnabled=false

    # Hide and unhide ingredients by clicking them in the list.
    B:editEnabled=false
    S:filterText=

    # Show the list of ingredients next to open GUIs.
    B:overlayEnabled=true
}


world1544803905 {
    S:filterText=
}


